@model IEnumerable<Presentation.Models.ViewModels.ListTicketsViewModel>

@{
    ViewData["Title"] = "TicketHistory";
}

<h1>Ticket History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Column)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                €@Html.DisplayFor(modelItem => item.PricePaid)
            </td>
            <td>
                @(item.Cancelled ? "Yes" : "No")
            </td>
            <td>
                    @if (!item.Cancelled)
                    {
                        <a href="\Tickets\Cancel?id=@item.Id" onclick='return window.confirm("Are you sure you want to cancel?")'>Cancel</a>

                    }

            </td>
        </tr>
}
    </tbody>
</table>
