@model IEnumerable<Presentation.Models.ViewModels.ListTicketsViewModel>

@{
    ViewData["Title"] = "TicketHistory";
}

<h1>TicketHistory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Column)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                €@Html.DisplayFor(modelItem => item.PricePaid)
            </td>
            <td>
                <a href="\Tickets\Cancle?id=@item.Id" onclick='return window.confirm("Are you sure you want to cancle?")'>Cancle</a>

                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
